<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" data-bs-core="modern">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/css/halfmoon.min.css" />
    <link rel="stylesheet" href="/css/halfmoon.modern.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">

    <script defer src="/js/bootstrap.bundle.min.js"></script>
    <HeadOutlet />
</head>

<body class="ps-md-sbwidth">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
