<li>
    <h6 class="sidebar-header">@Name</h6>
</li>
<li><hr class="sidebar-divider" /></li>
@ChildContent
<Spacer Size="var(--bs-spacer-3" />

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; } = null;
    [Parameter]
    public string Name { get; set; } = String.Empty;
}